.pageningBtn{
    margin: 3rem auto;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(0, 10, 103);
    color: white;
    font-size: 15px;
    transition: all 0.5s;
    border: none;
    }


 .Btns_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
        

.active{
     background-color: rgb(59, 79, 255);
     outline: 3px solid black;
}